
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* -----------------------------------------------
  App styles
  ------------------------------------------------ */

body {
  padding-top: 60px;
}

.article, .comment {
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8;
}

.error,
a.error,
a.error:hover,
a.error:focus,
button.error,
button.error:hover,
button.error:focus {
  color: #D9534F;
}

.form-actions {
  background: #fff;
  border: 0;
}

#spacer {
  display: inline-block;
}

.muted {
  color: #aaa;
  font-size: 12px;
}

.alert {
  margin-top: 10px;
}

.navbar-brand {
  font-size: 14px;
  color: #000 !important;
}

.navbar-nav > li > a.travis{
  padding-top: 13px;
}

.navbar-right > li > a {
  padding-left: 5px;
  padding-right: 5px;
}
.navbar-default {
    box-shadow: 0 0px 4px 0px rgba(0,0,0,1) !important;
}

/* Dashboard */
.thing {
    font-size: 250%;
}
.thing {
    font-size: 250%;
    float: left;
}
.thing-toggle-button {
    width: 50px;
    float: right;
}
.light-on {
    color: rgb(255, 200, 0);
}
.light-off {
    color: rgb(80,80,80)
}
.iot-graph {
    text-align: center;
}
.large-text {
    font-size: 80pt;
    text-align: center;
    margin-top: 50px;
}
.small-text {
  text-align: center;
}
.well {
    height: 340px;
}
.thing-menu-right {
    float: right;
    margin-top: -14px;
    cursor: pointer;
}
.description {
    padding-left: 40px;
}
.page-bottom-fixed {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
}
.page-header {
    margin: 20px 0 10px !important;
}
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
    top: 43%;
}
@media (max-width: 1199px) {
  .navbar .navbar-brand {
      height: 50px;
      padding: 5px 15px;
  }
}
@media (min-width: 768px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: -15px;
      padding: 10px 15px;
  }
}
.panel-body {
    padding: 15px;
    word-wrap: break-word;
}
