{% block main %}
<style>
.datepicker{z-index:1151 !important;}
</style>
<div id="thing-dialog-{{thing._id.toString()}}" class="modal fade" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{thing.name}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="thing" action="thing/update" method="post">
                <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                <input type="hidden" name="thing_id" value="{{thing._id.toString()}}">
                <fieldset>
                    <legend></legend>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input name="name" type="text" class="form-control" id="name" placeholder="Name" value="{{thing.name}}">
                            <span class="help-block">Only a-z and 0-9 e.g. thing100</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" id="textArea" name="description">{{thing.description}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="thing-enabled" class="col-lg-2 control-label">Enable</label>
                        <div class="col-lg-10">
                            <div class="togglebutton">
                                <label>
                                    <input id="thing-enabled" name="enabled" type="checkbox" checked="" value="Y">
                                    <span class="toggle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                <div class="form-group btn-group-sm">
                      <label class="col-lg-2 control-label">schedule</label>
                      <a href="javascript:addSchedule()" class="btn btn-raised btn-danger btn-fab" ><i class="material-icons mdb-btn-icon-sm">add</i></a>
                      <label class="col-lg-10 control-label"></label>
                </div>
                <div id="schedule-container">
                  <!-- JobSandbox List -->
                  {% for job in jobs %}
                  <input type="hidden" name="JobSandbox:{{loop.index0}}:_id" value="{{job._id.toString()}}"/>
                  <div class="jumbotron col-lg-12">
        						<button type="button" class="close" aria-label="Close" id="close-schedule-button-{{loop.index0}}">
        							<span aria-hidden="true">×</span>
        						</button>
                  <div class="form-group">
                        <label class="col-lg-1 control-label">Job</label>
                        <div class="col-lg-11"> {{job._id.toString()}}</div>
                        <label class="col-lg-1  control-label"></label>
                        <div class="checkbox col-lg-3 control-label">
                          <label class="control-label">
                            <input type="checkbox" name="JobSandbox:{{loop.index0}}:status" value="enabled" checked="">
                            <span class="checkbox-material"><span class="check"></span></span>  Enable
                          </label>
                        </div>
                        <div class="col-lg-8"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <div class="radio radio-primary">
                              <label>
                                <input type="radio" name="JobSandbox:{{loop.index0}}:schedule_type" value="ONCE" checked="">
                                <span class="circle"></span><span class="check"></span>
                                Once
                              </label>
                              <label>
                                <input type="radio" name="JobSandbox:{{loop.index0}}:schedule_type" value="REPEAT">
                                <span class="circle"></span><span class="check"></span>
                                Repeat
                              </label>
                            </div>
                        </div>
                        <label class="col-lg-2"></label>
                        <div class="col-lg-10">
                          <input name="JobSandbox:{{loop.index0}}:run_time" type="text" class="form-control datepicker" value="{{job.run_time.getTime()|date('m/dd/y G:i A', -420)}}"/>
                        </div>
                        <label class="col-lg-2">Action</label>
                        <div class="col-lg-10">
                          <div class="radio radio-primary">
                            <label>
                              <input type="radio" name="JobSandbox:{{loop.index0}}:action" value="ON" checked="">
                              <span class="circle"></span><span class="check"></span>
                              On
                            </label>
                            <label>
                              <input type="radio" name="JobSandbox:{{loop.index0}}:action" value="OFF">
                              <span class="circle"></span><span class="check"></span>
                              Off
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <script>
                    $('input[name="JobSandbox:{{loop.index0}}:run_time"]').datetimepicker();
                    $("#close-schedule-button-{{loop.index0}}").click(function () {
                      $(this).parent().remove();
                    });
                    </script>
                  {% endfor %}
                </div>

                <!-- Start schedule -->
                <div id="schedule-template" style="display: none">
                  <div class="jumbotron col-lg-12">
        						<button type="button" class="close" aria-label="Close" id="close-schedule-button">
        							<span aria-hidden="true">×</span>
        						</button>
                  <div class="form-group">
                        <label class="col-lg-1 control-label"></label>
                        <div class="checkbox col-lg-3 control-label">
                          <label class="control-label">
                            <input type="checkbox" name="status" value="enabled" checked="">
                            <span class="checkbox-material"><span class="check"></span></span>  Enable
                          </label>
                        </div>
                        <div class="col-lg-8"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <div class="radio radio-primary">
                              <label>
                                <input type="radio" name="schedule_type" value="ONCE" checked="">
                                <span class="circle"></span><span class="check"></span>
                                Once
                              </label>
                              <label>
                                <input type="radio" name="schedule_type" value="REPEAT">
                                <span class="circle"></span><span class="check"></span>
                                Repeat
                              </label>
                            </div>
                        </div>
                        <label class="col-lg-2"></label>
                        <div class="col-lg-10">
                          <input name="run_time" type="text" class="form-control datepicker"/>
                        </div>
                        <label class="col-lg-2">Action</label>
                        <div class="col-lg-10">
                          <div class="radio radio-primary">
                            <label>
                              <input type="radio" name="action" value="ON" checked="">
                              <span class="circle"></span><span class="check"></span>
                              On
                            </label>
                            <label>
                              <input type="radio" name="action" value="OFF">
                              <span class="circle"></span><span class="check"></span>
                              Off
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End schedule -->
                </fieldset>
            </form>
            <div class="panel panel-info">
               <div class="panel-heading">
                    <h3 class="panel-title">MQTT Info</h3>
               </div>
               <div class="panel-body">
                    <b>User Name:</b> {{user.username}}<br/>
                    <b>Password:</b> {{user.hashed_password}}<br/>
                    <b>Device Client ID:</b> t:{{thing._id.toString()}}
               </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="updateThing()">Save</button>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  var scheduleIndex = 0;
  function updateThing() {
     data = $(document.thing).serialize();
     $.ajax({
        type: "POST",
        async: false,
        url: $(document.thing).attr("action"),
        data: data,
        dataType: "json",
        success: function (data) {
            if (data.errors) {
                $(".alert.alert-danger").html("");
                $(".alert.alert-danger").css("display", "block");
                for (key in data.errors) {
                    $(".alert.alert-danger").append(data.errors[key].message + "<br/>");
                }
            } else {
                $(".alert.alert-danger").html("");
                $(".alert.alert-danger").css("display", "none");
                location.reload();
            }
        },
        error: function (xhr,status,error) {
            //console.log(xhr.responseJSON);
        }
     });
  }
  function addSchedule() {
    schedule = $($("#schedule-template").html()).clone();
    prefix = "JobSandbox:" + scheduleIndex + ":";
    id = new Date().getTime();
    $(schedule).find("button").each(function () {
            $(this).attr("id", id);
        });
    $(schedule).find("input").each(function () {
            $(this).attr("name", prefix + $(this).attr('name'));
        });
    $("#schedule-container").append(schedule);
    $('input[name="' + prefix + 'run_time"]').datetimepicker();
    $("#" + id).click(function () {
      $(this).parent().remove();
    });
    scheduleIndex++;
  }
  </script>
</div>

{% endblock %}
